@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7f7;
  scroll-behavior: smooth;
}
@layer utilities {
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  gap: 7px;
  animation: scroll 20s linear infinite;
  width: calc(300px * 6);
}

.animate-scroll:hover,
.animate-scroll:focus {
  animation-play-state: paused;
}
